/* Import Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles from your HTML file */
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff; /* or your preferred bg color */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
